@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html,
body {
  width: 100%;
  height: 100%;
  background: rgb(23, 50, 90); }

#mainNav {
  border-color: white;
  background-color: white;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  font-family: "Roboto", sans-serif;;
  font-weight: 200;
  letter-spacing: 1px; }
  #mainNav .navbar-nav > li > a {
    font-size: 20px;
    font-family: "Roboto", sans-serif; }
    #mainNav .navbar-nav > li > a.active {
      color: rgb(69, 113, 180);
      background-color: white; }
      #mainNav .navbar-nav > li > a.active:hover {
        background-color: white; }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgb(69, 113, 180); }
    #mainNav .navbar-nav > li > a:hover,
    #mainNav .navbar-nav > li > a:focus:hover {
      color: rgb(69, 113, 180); }
  @media (min-width: 992px) {
    #mainNav {
      border-color: white;
      background-color: white; }
      #mainNav .navbar-brand {
        color: fade(white, 70%); }
        #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
          color: white; }
      #mainNav .navbar-nav > li > a,
      #mainNav .navbar-nav > li > a:focus {
        color: rgb(69, 113, 180) }
        #mainNav .navbar-nav > li > a:hover,
        #mainNav .navbar-nav > li > a:focus:hover {
          color: rgb(23, 50, 90); }
      #mainNav.navbar-shrink {
        border-color: rgb(69, 113, 180);
        background-color: white; }
        #mainNav.navbar-shrink .navbar-brand {
          color: rgb(69, 113, 180); }
          #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
            color: rgb(69, 113, 180); }
        #mainNav.navbar-shrink .navbar-nav > li > a,
        #mainNav.navbar-shrink .navbar-nav > li > a:focus {
          color: rgb(69, 113, 180); }
          #mainNav.navbar-shrink .navbar-nav > li > a:hover,
          #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
            color: rgb(69, 113, 180); } }

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  color: white;
  background: url("im3.png"); }
  header.masthead .header-content {
    max-width: 500px;
    margin-bottom: 100px;
    text-align: center; }
  header.masthead .header-content button {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px;
    background-color: white;
    color: rgb(23, 50, 90);;
    font-size: 20px;
    font-family: "Roboto", sans-serif; }
    header.masthead .header-content select {
      margin-top: 10px;
      margin-bottom: 10px;
      border: 2px;
      background-color: white;
      color: rgb(23, 50, 90);;
      font-size: 18px;
      font-family: "Roboto", sans-serif }
  header.masthead .device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto; }
  header.masthead .device-container .screen img {
    border-radius: 3px; }
  @media (min-width: 992px) {
    header.masthead {
      height: 75vh;
      min-height: 775px;
      padding-top: 0;
      padding-bottom: 0; }
    header.masthead .header-content {
      margin-bottom: 0;
      text-align: left; }
    header.masthead .device-container {
      max-width: 325px; } 
    header.masthead .header-content-1 {
      text-align: center;}
    header.masthead .header-content-1 table {
      font-size: 18px;
      font-family: "Roboto", sans-serif;}}            